{% extends "layout.html" %}
{% block content %}
	{{ body | safe }}
	<div style="
    padding-top: -11px;
    /* position: initial; */
    margin-top: -14px;
">
		<a href="https://play.google.com/store/apps/details?id=com.groupon&hl=en&referrer=utm_medium%3Dinh%26utm_source%3Dweb%26utm_campaign%3DIE_DT_INH_WEB_TIM_MAQ_IH_NBP_CHA_YBR_x%2Aslash-mobile" class="footer-widget footer-widget-mobile" title="Groupon for mobile devices"><span class="footer-widget-image"><img height="64" width="47" class="no-bg lazy-wl svg-groupon-mobile loading" src="https://www2.grouponcdn.com/layout/assets/footer-i18n-mobile-app-b62e919542.svg"> </span>
			<span class="footer-widget-headline" style="
    padding-left: 20px;
    margin-top: 0px;
    padding-bottom: 20px !important;
    position: absolute;
    width: 334px;
    overflow: auto;
    font-size: 24px;
">Get the Groupon Mobile App for</span>
<span class="footer-widget-headline" style="padding-left: 12px;margin-top: 27px;padding-bottom: 20px !important;position: absolute;width: 334px;overflow: auto;font-size: 30px;text-align: center;">Amazing Deals!</span>
		</a>
	</div>
{% endblock content %}
